@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/top-app-bar/mdc-top-app-bar";

// @include icon-button.core-styles;
@use "@material/card";

@include card.core-styles;

.site-title{
    background-color: var(#0b3069);
    font-weight: 900;
}

body {
    background-color: #313d50;
    margin: 0px;
  }
.content-body {

    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    background-color: #313d50;
}
 