.language-python .highlight .kn{
    color: rgb(221, 72, 247);
}
.language-python .highlight .nn{
    color: rgb(88, 227, 99);
}

.language-python .highlight .n{
    color: rgb(144, 206, 247);
}
.language-python .highlight .k{
    color: rgb(247, 215, 110);
}
.language-python .highlight .p{
    color: rgb(240, 193, 38);
}
.language-python .highlight .s{
    color: rgb(247, 104, 72);
}