---
layout: default
---
{%- assign current_lang = site.lang | default: 'ru' -%}
{%- assign date_format = "%d.%m.%y" -%}

<div class="win-prompt">
  <span class="p-user">root</span><span class="p-sep">@</span><span class="p-host">4stm4</span><span class="p-sep">:</span><span class="p-path">~/posts</span> $ <span class="p-cmd">ls -lat</span><span class="term-cursor"></span>
</div>

<div class="ls-header">
  <span>PERMS</span>
  <span>DATE</span>
  <span>TITLE</span>
  <span>CATEGORY</span>
  <span>TIME</span>
  <span>LANG</span>
</div>

{%- for post in site.posts -%}
<a class="ls-row" href="{{ post.url | relative_url }}" data-post-lang="{{ post.language | default: 'ru' }}">
  <span class="ls-perm">-rw-r--r--</span>
  <span class="ls-date">{{ post.date | date: date_format }}</span>
  <span class="ls-title">{{ post.title | escape }}</span>
  <span class="ls-cat">{{ post.categories | first }}</span>
  <span class="ls-rt">~{{ post.content | number_of_words | divided_by: 200 | plus: 1 }}m</span>
  <span class="ls-lang">{{ post.language | default: 'ru' }}</span>
</a>
{%- endfor -%}

<div class="ls-summary">
  {{ site.posts | size }} items
</div>

{{ content }}
